*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Cairo', sans-serif !important;
}

/* HR Section Breaks */
.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 60%;
    margin: 0px auto;
}

/* Nav Bar*/
#navLogo{
  font-size: 2.0em;
  font-weight: 700;
}

nav a{
  font-size: 1.5em;
  text-transform: uppercase;
}

/* Carousel Showcase */
#showcaseCarousel{
  position: relative;
}

#showCaseHeading h1{
  position: absolute;
  top: 0%;
  padding-top: 25%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 4.5em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2),
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 23px rgba(0, 0, 0, 0.1)
}

.carousel-item img{
  height: 38em;
  opacity: .7;
}

/* About Blurb */
#aboutBlurb p{
  font-size: 1.8em;
  font-weight: 300;
  width: 75%;
  text-align: center;
  margin: 0px auto;
  padding: 5%;
}

/* Main Carousel */
#mainCarousel h1{
  text-align: center;
  margin: 1.5em 0px;
}

#mainCarousel img{
  display: none;
}

/* Home Cards */
#team h1{
  text-align: center;
  margin: 1.5em 0px;
}

.card{
  border: none !important;
}

.row1{
  margin-bottom: 2.5em;
}

#imgCards .container{
  margin-bottom: 4em;
}

.card-body h5{
  font-size: 2em;
  font-weight: 700;
}

.card-body p{
  font-size: 1.4em;
}

.card-body a{
  border: 3px solid black;
}

/* Meet the Team */
.jobTitle{
  font-style: italic;
}

/* Contact Form */
#contactForm h2{
  text-align: center;
  margin: 1.2em 0px !important;
  font-size: 2.5em;
}

#contactForm p{
  font-size: 1.3em;
}

#contactForm label{
  font-size: 1.3em;
}

.contactInfo p{
  font-size: 1em;
}

#message{
  height: 10em;
}

#contactBtn{
  background-color: dodgerblue;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  padding: .8em 1.5em;
  margin-top: 2em;
}

/* Footer */
#myFooter {
    background-color: #3a3f46;
    color: white;
}

#myFooter .info{
    text-align: justify;
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#copyright{
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  padding: 15px 0px;
  margin-bottom: 0px;
}

/* Media Queries */
@media (min-width: 800px){
  #showCaseHeading h1{
    position: absolute;
    top: 0%;
    padding-top: 22%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 3.5em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1)
  }

  .carousel-item img{
    height: 32em;
    opacity: .7;
  }

  /* About Blurb */
  #aboutBlurb p{
    font-size: 1.5em;
    font-weight: 300;
    width: 75%;
    text-align: center;
    margin: 0px auto;
    padding: 5%;
  }

  /* Main Carousel */
  #mainCarousel h1{
    text-align: center;
    margin: 1.2em 0px;
  }

  #mainCarousel img{
    display: none;
  }

  /* Home Cards */

  /* Meet the Team */

  /* Contact Form */
  #contactForm h2{
    text-align: center;
    margin: 1.0em 0px !important;
    font-size: 2.5em;
  }

  #contactForm p{
    font-size: 1.1em;
  }

  #contactBtn{
    background-color: dodgerblue;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    padding: .6em 1.3em;
    margin-top: 1em;
  }

  /* Footer */
  #copyright{
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    padding: 15px 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 992px){
  /* Nav Bar*/
  nav{
    height: 10vh;
  }

  #navLogo{
    font-size: 2em;
    font-weight: 700;
    padding-right: 1em;
  }

  nav a{
    font-size: 1.1em;
    text-transform: uppercase;
  }

/* Carousel Showcase */
  #showCaseHeading h1{
    position: absolute;
    top: 0;
    padding-top: 17%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 4em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1)
  }

  .carousel-item img{
    width: 100%;
    height: auto;
    max-height: 35em;
  }

  /* About Blurb */
  #aboutBlurb p{
    font-size: 1.4em;
    font-weight: 300;
    width: 70%;
    text-align: center;
    margin: 0px auto;
    padding: 5%;
  }

  /* Home Cards */
  /* Team Cards */
  #team img{
    width: 20em;
    height: 22em;
    margin: 0 auto;
  }

  #bottomRow{
    margin-bottom: 2em;
  }

  /* Contact Form */
}

@media (min-width: 1700px){
  /* Nav Bar*/
  nav{
    height: 10vh;
  }

  #navLogo{
    font-size: 2.2em;
    font-weight: 700;
    padding-right: 1em;
  }

  nav a{
    font-size: 1.3em;
    text-transform: uppercase;
  }

/* Carousel Showcase */
  #showCaseHeading h1{
    position: absolute;
    top: 0;
    padding-top: 18%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 4em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1)
  }

  .carousel-item img{
    width: 100%;
    height: auto;
    max-height: 45em;
  }

  /* About Blurb */
  #aboutBlurb p{
    font-size: 1.6em;
    font-weight: 300;
    width: 60%;
    text-align: center;
    margin: 0px auto;
    padding: 5%;
  }
}

@media (min-width: 2100px){
  /* Carousel Showcase */
    #showCaseHeading h1{
      position: absolute;
      top: 0;
      padding-top: 12%;
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 4em;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2),
                   0px 8px 13px rgba(0, 0, 0, 0.1),
                   0px 18px 23px rgba(0, 0, 0, 0.1)
    }

    /* About Blurb */
    #aboutBlurb p{
      font-size: 1.7em;
      font-weight: 300;
      width: 50%;
      text-align: center;
      margin: 0px auto;
      padding: 5%;
    }
}
